run = "streamlit run app.py"
modules = ["python-3.11"]
[nix]
channel = "stable-24_05"
packages = ["glibcLocales", "mailutils"]

[deployment]
run = ["sh", "-c", "streamlit run app.py"]

[[ports]]
localPort = 8501
externalPort = 80

[[ports]]
localPort = 8502

[[ports]]
localPort = 8503
externalPort = 3001

[[ports]]
localPort = 8504
externalPort = 3002

[[ports]]
localPort = 8505
externalPort = 3003
